hnswlib.egg-info/
build/
dist/
tmp/
python_bindings/tests/__pycache__/
*.pyd
hnswlib.cpython*.so
var/
.idea/
.vscode/
.vs/
**.DS_Store
*.pyc
test_results/*
datasets/*
tests/cpp/bigann/*
tests/cpp/downloads/*
bigann/*
script/*.bin
script/*.log
script/*.py
script/compression_plots/*
script/recall_latency_plots/*
script/plots/*
